.App {
  text-align: center;
  background-color: #040615; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #040615;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link-button {
  border: none;
  background-color: #621cee;
  color: #ffffff;
  padding: 8px 8px;
  border-radius: 25px;
  margin-left: 20px;
  font-size: 16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.link-button:hover{
  background-color: #322f63;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #040615;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-color: #040615;
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
  background-color: #040615;
}

.bg3 {
  animation-duration: 5s;
  background-color: #040615;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 900px;
}
header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.share {
  border: none;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 22px;
  border-radius: 25px;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.share:hover {
  background-color: #322f63;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.acc{
  background-color: #743fdd;
  padding: 4px 12px;
  border-radius: 25px;
}

.file-upload-section {
  background-color: #0e1b41;
  padding: 20px;
  border-radius: 8px;
  width: 34%;
  border-radius: 20px;
  margin: 0 auto; /* Center horizontally */

}

.upload-heading {
  color: #f7f7f7;
  font-size: 24px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.section {
  flex: 1;
  
  /* Additional styles for each section */
}
.section1{
  background-color: #322f63;
  border-radius: 20px;
  height: 140px;
 
}
.section2{
  border-radius: 20px;
  margin-top:-55px
}
.section1 + .section2 {
  margin-left: 10px; /* Adjust the value to set the gap between sections */
}
