.top {
    margin: 40px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .choose {
    background-color: #621cee;
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .choose:hover {
    background-color: #322f63;
  }
  .textArea {
    color: white;
  }
  
  .upload {
    border: 1px solid #0a0812;
    background-color: #621cee;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .upload:hover {
    border: 1px solid #0a0812;
    background-color: #322f63;
    color: #ffffff;
    padding: 5px 10px;
  }
  .button {
  border: none;
  background-color: #621cee;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 25px;
  margin-left: 38px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #322f63;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

  .upload:disabled,
  .upload[disabled] {
    border: 1px solid #999999;
    background-color: #621cee;
    color: #c7bfbf;
  }
  
  div {
    padding: 5px 10px;
  }